// 引入清除默认样式
@import "./reset.scss";

// 设置全局字体
body {
    font-family: "Microsoft Yahei Light", "Microsoft Yahei", PingFangSC-Regular, Helvetica, sans-serif;
}

// 设置全局滚动条的样式
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: lightgray;
    border-radius: 3px;
}

.el-dialog {
    background-color: $background-color !important;
}
